---
export interface Props {
  headings: any[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter(heading => heading.depth > 1);
---

<div class="sticky top-24">
  <h2 class="text-lg font-bold mb-4">On this page</h2>
  <ul>
    {filteredHeadings.map(heading => (
      <li class={`ml-${(heading.depth - 2) * 4}`}>
        <a href={`#${heading.slug}`} class="text-text-light hover:text-primary">
          {heading.text}
        </a>
      </li>
    ))}
  </ul>
</div>
